/****************************/
/** HTML AND BODY **/
/****************************/

html{
    min-height: 100%;
    margin: 0;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, white, #ede6d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, white, #ede6d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white, #ede6d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white, #ede6d2); /* Standard syntax */
}

body{
    min-height: 100%;
    margin: 0;
    background-color: transparent;
}

a{
    color: #133b4f;
}

a:hover{
    color: #98781e;
}

/** FOR : I PHONE 5 , 6 , 6s , I PAD and I PAD MINI **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px)
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){
    html,body{
        min-height: 100%;
    }
}

/****************************/
/** HEADER **/
/****************************/

div.header{
    margin-top: 2%;
}

img.logo{
    width: 70px;
}

ul.nav li{
    display: inline-block;
    float: left;
}

ul.nav li a{
    color: #a98622;
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    div.header{
        margin-top: 7%;
        text-align: center;
    }

    img.logo{
        width: 50px;
    }

    ul.nav li{
        display: none;
    }
}

/****************************/
/** WELCOME SENTENCE **/
/****************************/

h1.welcome{
    margin: 5% auto;
    color: #133b4f;
    font-weight: lighter;
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    h1.welcome{
        margin: 10% auto;
        font-size: 8vw;
    }
}

/** FOR I PAD and I PAD MINI **/

@media only screen
and (max-device-width : 768px)
and (-webkit-min-device-pixel-ratio: 1)  {
    h1.welcome{
        margin: 10% auto;
        font-size: 8vw;
    }
}

/****************************/
/** SEARCH FILED **/
/****************************/

input.search-field{
    margin: 2% auto;
    font-size: 6vw;
    background-color:transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #a98622;
    outline: none;
}

button.search-btn{
    font-size : 3.2vw;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: #a98622;
}

button.search-btn:hover{
    text-decoration: none;
    font-size : 3.2vw;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: #a98622;
}

button.search-btn:focus{
    text-decoration: none;
    font-size : 3.2vw;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: #98781e;
    outline: none;
}

input.search-field.sm{
    display: inline-block;
    font-size: 1.5vw;
    margin-top: 10%;
    margin-bottom: 10%;
}

button.search-btn.sm{
    display: inline-block;
    font-size: 1.5vw;
    padding: 2px 10px 2px 10px;
}

button.search-btn.sm:hover{
    font-size : 1.5vw;
}

button.search-btn.sm:focus{
    font-size : 1.5vw;
}

/**
 Hover Animation [ Grow ]
 From Hover.css
 URL : https://github.com/IanLunn/Hover
 **/

.hvr-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    input.search-field{
        margin: 3% auto 10% auto;
        font-size: 8vw;
    }
    button.search-btn{
        font-size: 5.2vw;
    }
    button.search-btn:hover{
        font-size: 5.2vw;
    }
    button.search-btn:focus{
        font-size: 5.2vw;
    }
    input.search-field.sm{
        font-size: 5vw;
    }
    button.search-btn.sm{
        font-size: 5vw;
    }

    button.search-btn.sm:hover{
        font-size : 5vw;
    }

    button.search-btn.sm:focus{
        font-size : 5vw;
    }
}

/** FOR I PAD and I PAD MINI **/

@media only screen
and (max-device-width : 768px)
and (-webkit-min-device-pixel-ratio: 1)  {
    input.search-field{
        margin: 3% auto 10% auto;
        font-size: 8vw;
    }
    button.search-btn{
        font-size: 5.2vw;
    }
    button.search-btn:hover{
        font-size: 5.2vw;
    }
    button.search-btn:focus{
        font-size: 5.2vw;
    }
}

/****************************/
/** CONTENT **/
/****************************/

h1.message{
    margin-top: 10%;
    margin-bottom: 5%;
}

h1.keyword{
    font-size: 7vw;
    margin-bottom: 5%;
    color:  #133b4f;
}

h3.reason{
    margin-bottom: 7%;
    font-size: 2.5vw;
}

h4.suggestion{
    border: 2px solid #98781e;
    padding: 10px;
    color: #a98622;
}

span.multi-keyword{
    font-size: 3vw;
    padding: 0 5%;
    text-align: center;
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    h1.keyword{
        font-size: 20vw;
        margin-bottom: 7%;
    }
    h3.reason{
        font-size: 5vw;
        margin-bottom: 10%;
    }
    h4.suggestion{
        border: 2px solid #98781e;
        padding: 15px;
        line-height: 1.5;
        color: #a98622;
    }
    h2.multi-keyword{
        font-size: 10vw;
        padding: 0 10%;
        text-align: center;
    }
}

/****************************/
/** COL AD **/
/****************************/

div.col-ad{
    padding-right: 5%;
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    img.ad{
        width: 100%;
    }
}

/****************************/
/** FOOTER **/
/****************************/

footer.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #133b4f;
    padding-top: 15px;
}

footer.footer p{
    color: white;
}

footer.footer ul.social{
    list-style: none;
    padding-right: 0;
}

footer.footer ul.social li{
    display: inline-block;
    color: white;
    margin: auto 10px;
}

footer.footer ul.social li a{
    color: white;
}

footer.footer ul.footer-nav{
    display:none;
}

/**
 Hover Animation [ Float Shadow ]
 From Hover.css
 URL : https://github.com/IanLunn/Hover
 **/

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/** FOR PHONES : I PHONE 5 , 6 , 6s **/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
    footer.footer{
        bottom: -50%;
    }
    footer.footer p{
        font-size: 10px;
    }
    footer.footer ul.footer-nav{
        display:block;
        padding-right: 0;
    }
    footer.footer ul.footer-nav li{
        display: inline-block;
        margin: 1% 2% 3% 2%;
    }
    footer.footer ul.footer-nav li a{
        color: #a98622;
    }
}

/** FOR I PAD and I PAD MINI **/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {

}